Calendar: HTML descriptions

Why it matters: With online meetings and their multiple long "Join" URLs in the meeting description, esp. those generated by Zoom, Teams and the like, HTML descriptions have become a must, for better or for worse. (I understand some people hate HTML. For the record, I am talking about semantic HTML only, i.e. link, bulleted lists, bold, headers, not <script> and <video>.)

The problem: iCal DESCRIPTION is defined to be plaintext. There is no explicit provision in original iCal (RFC2445 or RFC5545) for an inline HTML version of the description. Also, iCal doesn't support MIME, which is how HTML is expressed in emails. We've discussed this a year ago, but implementing it now again a second time, I can see that problem is far more complex than RFC 9075 pretends.

Actually, the above is not entirely correct: [RFC 2445 4.2.1](https://datatracker.ietf.org/doc/html/rfc2445#section-4.2.1), 4.2, [RFC 5545 3.2.1](https://www.rfc-editor.org/rfc/rfc5545#section-3.2.1) ([iCal.org descr](https://icalendar.org/iCalendar-RFC-5545/3-2-1-alternate-text-representation.html)) do reference a[ documented way](https://icalendar.org/iCalendar-RFC-5545/3-2-1-alternate-text-representation.html): The DESCRIPTION property can have an ALTREP parameter with a URI that contains the HTML version of the description. The URI can be anything, and cid: is given as example. That means data: URLs are also valid, which means we can put the HTML version inline into the iCal doc. And it's completely standards-conformant, all the way back to RFC 2445.

Unfortuantely, because literally nobody implemented it in this particular way (other than Thunderbird since 2020), and lots of calendar software wanted to have HTML descriptions, there are now at least 5 different ways in the wild by common software:

1. [RFC 2445 4.2.1](https://datatracker.ietf.org/doc/html/rfc2445#section-4.2.1), 4.2, [RFC 5545 3.2.1](https://www.rfc-editor.org/rfc/rfc5545#section-3.2.1) ([iCal.org](http://ical.org/)[ descr](https://icalendar.org/iCalendar-RFC-5545/3-2-1-alternate-text-representation.html)) and [Thunderbird](https://bugzilla.mozilla.org/show_bug.cgi?id=1607834) format
"Teach old standards new tricks"
DESCRIPTION property with parameter ALTREP with data:text/html URL as value of the parameter

2. [RFC 9073 6.5](https://www.rfc-editor.org/rfc/rfc9073.html#name-styled-description) format
"There are already so many ways, let's make a new one, because we're the boss"
STYLED-DESCRIPTION property with parameter FMTTYPE="text/html" and HTML as value of the property

3. Outlook format
"Let's make our own [almost-standard](https://en.wikipedia.org/wiki/Embrace,_extend,_and_extinguish)"
X-ALT-DESC property with parameter FMTTYPE="text/html" and HTML as value of the property

4. Google format
"I wish we had the 1994 HTML tag soup back. Eat my dust!"
Put HTML into the DESCRIPTION field, whichiexplicitly defined as plaintext. Oh, actually, we're too lazy for that. We'll simply put some HTML tags like <a href=""> in the middle of plaintext, with \n newlines and all. Whoever can parse this gets the cookie (the [doubleclick.net](http://doubleclick.net/) cookie, that is). And of course, it's hard to reliably detect that we're actually in this case. HTML fragments can also appear as literal in event descriptions, e.g. for developer meetings.

5. Exchange format
"Bullet through the chest into the eye"-style illegal
Exchange doesn't put the HTML version into iCal at all, but puts it into the invitation email, in the multipart/alternative HTML part. That's extremely hard to parse, because

   * a) it's not even in the iCal
iCal reader libs have no access to the email. And CalDAV doesn't have the email, either.

   * b) multipart/alternative mandates that I ignore the HTML part in favor of the iCal part, and worst

   * c) some other software writes "Fred invited you to a meeting" into the body of the invitation email, so if I replace the event description with that, I lost the actual event description and replaced it with meaningless boilerplate, i.e. that's dataloss. I don't know a solution to that, which is one of the reasons why I am writing this post. All I can think of are heuristics like "compare plaintext of the email invitation body with the plaintext of the iCal DESCRIPTION, and remove whitespace before comparing", but that's horribly unreliable. There's no clear way to compare plaintext and HTML.


Parsing that is going to be horrid.

But what about generating iCal invitations and CalDAV events? I want to support as much receiving software as possible. So, should I include the description 5 times (1x plaintext + 4 different ways to stuff in the HTML)?

There's one more angle to it that RFC 9073 doesn't consider: Software that edits the event description and doesn't know about RFC 9073. It will change the plaintext description, and being a good net citizen, it will leave all other properties that it doesn't understand alone. So, STYLED-DESCRIPTION will now have the outdated version of the description. Software that reads it will display the wrong description. Dataloss again. Worst, there's not much that the new supporting software can do to protect itself against this problem. Same problem as above.

I am seeing an unstyled version of the email for Invitations sent from Google Calendar and saved to local calendar.

Posted on [StackOverflow](https://stackoverflow.com/questions/79688221/ical-html-descriptions-in-calendar-events).